body{
}

h1{
	font-family: serif, cursive;
	font-size:60px;
}

.main-background{
	background: url("../images/background.jpeg") no-repeat center center fixed;
	background-size: cover;
	color: white;
}

.loading-page{
	background: url("../images/loading.jpg") no-repeat center center fixed;
	background-size: cover;
	position: fixed;
	top: 0;
	bottom:0;
	left:0;
	right: 0;
}

.loading-gif{
	width: 20%;
	margin-left: 40%;
	margin-top: 15%;
}

/*The following styles apply fo the entry page to the Wesite*/
#enter-btn{
background-color: transparent;
border: 3px white solid;
color: white;
font-size: 20px;
font-weight: bold;
padding: 10px;
text-align: center;

}

#enter-btn:hover{
	padding: 30px;
	font-size: 30px;
}

#entry-title{
	margin-top: 20%;
}

#entry-title p{
font-family: cursive;
font-size: 20px;
}

.frijole{
	font-family: 'Frijole', serif;
}

.navbar{
	background-color: transparent;
	border:none;
	
}

.navbar-right{
	padding: 10px;
	font-size: 3em;
	color: #f4d1b2;
}

.menu{
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgb(159,149,124);
	width: 250px;
	height: 100%;
	border-left: 3px #263026 solid;
}

.menu ul{
	list-style: none;
	padding: 25px;
}

.menu li a{
	color: white;
	font-size: 25px;
	line-height: 100px;

}
.menu li a:hover{
text-decoration: none;
color: #8fbc8f;

}


.glyphicon-remove{
	text-align: right;
	font-size: 25px;
}

.links{
	width: 30%;
}
.links img{
	width: 50%;
}

/*---------------------------------------------------------------------------*/

/*styling for portfolio*/
.panel-body{
	padding: 0;
	width: 100%;
	color: white;
	background-color: brown;
	height: 300px;
}
.panel-body img{
	width: 100%;
	height: 300px;
	margin: 0;
}
