body{
}

h1{
	font-family: serif, cursive;
	font-size:60px;
}

h2{
	font-size: 24px;
}

.main-background{
	background: url("../images/background.jpeg") no-repeat center center fixed;
	background-size: cover;
	color: white;
}

.loading-page{
	background: url("../images/loading.jpg") no-repeat center center fixed;
	background-size: cover;
	position: fixed;
	top: 0;
	bottom:0;
	left:0;
	right: 0;
}

.loading-gif{
	width: 20%;
	margin-left: 40%;
	margin-top: 15%;
}

/*The following styles apply fo the entry page to the Wesite*/
#enter-btn{
background-color: transparent;
border: 3px white solid;
color: white;
font-size: 20px;
font-weight: bold;
padding: 10px;
text-align: center;

}

#enter-btn:hover{
	padding: 30px;
	font-size: 30px;
}

#entry-title{
	margin-top: 20%;
}

#entry-title p{
font-family: cursive;
font-size: 20px;
}

.frijole{
	font-family: 'Frijole', serif;
}

.navbar{
	background-color: transparent;
	border:none;
	
}

.navbar-right{
	padding: 10px;
	font-size: 3em;
	color: #f4d1b2;
}

.menu{
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgb(159,149,124);
	width: 250px;
	height: 100%;
	border-left: 3px #263026 solid;
}

.menu ul{
	list-style: none;
	padding: 25px;
}

.menu li a{
	color: white;
	font-size: 25px;
	line-height: 100px;
	font-family: 'Frijole', cursive;

}
.menu li a:hover{
text-decoration: none;
color: #8fbc8f;

}


.glyphicon-remove{
	text-align: right;
	font-size: 25px;
}

.links{
	width: 30%;
}
.links img{
	width: 50%;
}

/*---------------------------------------------------------------------------*/

/*styling for portfolio*/
.panel-body{
	padding: 0;
	width: 100%;
	color: white;
	background-color: brown;
	height: 300px;
}
.panel-body img{
	width: 100%;
	height: 300px;
	margin: 0;
}
.panel-footer{
	background-color: rgba(22, 22, 22, 0.5);
	color: #f2edd2;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
	border-top-color: rgb(159,149,124);
}

.panel{
	border: 5px #3a3a37 double;
}
/*------------------------------------------------------------------------/
/styling for about*/

.my-pic{
	background: url('../images/me.jpg') center no-repeat;
	background-size: cover;
	width: 300px;
	height: 300px;
	border-radius: 25px;
	border: 5px white ridge;
	margin-left: 20%;
}

#about-container{
	background-color: rgba(22, 22, 22, 0.5);
	background size: 100%;
	height: 100%;
	border-left: 10px white double;

}

#about-container p{
	font-size: 20px;
}

/*Styling Skills page*/
.col-sm-3 img{
	width: 100%;
	margin:0;
}

.col-sm-3{
	width: 20%;
	margin: 2%;
}

.center{
	margin-left: 10%;
	width: 80%;
}

/*media queries*/

@media screen and (max-width: 940px) {
	.my-pic{
	margin-left: 10%;
}
	
}

@media screen and (max-width: 767px) {
.panel-body{
	font-size: 10px;
	height: 250px;
}
.panel-body h2{
	font-size: 18px;
}
.panel-body img{
	height: 250px;

}

.panel-footer{
	font-size: 12px;

}

.menu{
	height:250%;
}

#about-container{
	border-top: 10px white double;
	border-left: none;
	margin-top: 10px;

}

	.my-pic{
	margin-left: 28%;
}
.col-sm-3{
	float: left;
}
.navbar-header{
	float: left;
}
.navbar-right{
	float: right;
}
}

@media screen and (max-width: 640px) {
	.my-pic{
	margin-left: 10%;
	width: 80%;
}
.col-sm-3{
	width: 100%;
}
}
